
{% extends "layout.html" %}
{% block content_class %}container-fluid{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">
  <div class="jumbotron">

    <h1>CodeStreak.io <img src="/static/streak_logo.png" style="display: inline-block;margin-top: -13px;"/></h1>

    <p>Challenge yourself to daily open-source commits on github. CodeStreak.io will watch your public activity on GitHub and send you.
      Eloquent reminders are emailed to you near the end of the day if you haven't yet committed some open source code.</p>
  </div><!-- /.jumbotron -->
</div>

<div class="body-content home">
  <div class="row silver">
    <div class="col-xs-12">
      <div class="container">
        <div class="row" style="padding: 70px 0">
          <div class="col-md-7">
            <img width="100%" src="/static/learned_from_that.gif" />
          </div>
          <div class="col-md-5">
            <h2>Learn Something New</h2>
            <p>Use your daily programming time to learn a new language, concept or library.  Develop a habit of 
              active practice that will take your programming skills to new levels</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row dark">
    <div class="col-xs-12">
      <div class="container">
        <div class="row" style="padding: 70px 0">
          <div class="col-md-5">
            <h2>Do Something Epic</h2>
            <p>Put your daily effort towards something big and start chipping away at that epic hack you've been 
              dreaming about for years. Or start contributing to a favorite open source project.
            </p>
          </div>
          <div class="col-md-7">
            <img width="100%" src="/static/hack_the_planet.gif" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <div class="row" style="padding: 70px 0">
          <div class="col-md-7">
            <img width="100%" src="/static/octocat.gif" />
          </div>
          <div class="col-md-5">
            <h2>Build some Code Cred</h2>
            <p>Hey, Github is the portfolio for developers these days.. fill it out and stand out from the stack of
              resumes for your next job hunt
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding:100px;">
    <div class="col-xs-12 text-center">
      <h3>Why not try it out</h3>
      <button class="btn btn-primary btn-lg" type="submit" onClick="lock1.show();">Sign Up</button>
    </div>
  </div>
</div>
{% endblock %}

