
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('public.home') }}">

      CodeStreak.io <img src="/static/streak_logo.png" style="display: inline-block;margin-top: -13px;" height=32/>

    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      {% if not session.profile %}
        <li><button class="btn-link" style="padding:13px;" type="submit" onClick="lock2.show();">Sign In</button></li>
        <li><button class="btn btn-primary" style="margin: 8px;" type="submit" onClick="lock1.show();">Sign Up</button></li>
      {% endif %}
    </ul>
    {% if session.profile %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <p class="navbar-text"><a class="navbar-link" href="{{ url_for('reminder.settings') }}">Settings</a></p>
        </li>
    </ul>
    {% endif %}
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

