
{% extends "layout.html" %}
{% block content %}
    <h1>Your Streak is <span class="highlight">{{streak_days}} days</span></h1>

    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>

    {% if event.created_at.date() == today %}
    <div class="alert alert-success">
        <h4 class="alert-heading">Well done!</h4>
        <p>You pushed some code already today</p>
    </div>
    {% else %}
    <div class="alert alert-warning">
        <strong>No pushed code today</strong>  Get on it!
    </div>
    {% endif %}

    <h1>Your Reminder Configuration for {{ session.profile['nickname'] }}</h1>

    <p>Emails will be sent to <i>{{ session.profile['email'] }}</i><p>

    {% from "_formhelpers.html" import render_field %}
    <form method=post action=".">
        {{ form.csrf_token }}
    <dl>
        {{ render_field(form.enabled) }}
        {{ render_field(form.email_enabled) }}
        {{ render_field(form.sms_enabled) }}
        {{ render_field(form.sms_number) }}
        {{ render_field(form.timezone) }}
    </dl>
    <p><input class="btn btn-primary" type=submit value=Update>
    </form>

    <small>Note: improvements to this page are coming soon</small>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
           {% for date in date_list %}
           [ new Date({{date.year}}, {{date.month-1}}, {{date.day}}), {{histogram[date]}} ],
           {% endfor %}
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Pushed Code Events",
         height: 350,
       };

       chart.draw(dataTable, options);
   }
    </script>
{% endblock %}

